* {
    margin: 0;
    box-sizing: border-box;
}

#button {
    border: 1px solid #25692A;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
}

#gaba {
    margin-top: 50px;
    border: 2px solid red;
}

.geral {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../img/background-blue.png");
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: DimGray;
}

header {
    text-align: center;
    width: 100%;
    height: 200px;
}

header img {
    width: 70%;
    height: 85%;
}

.home {
    height: 1350px;
    width: 100%;
}

.conteudo-home {
    margin-top: 50px;
    height: 1300px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
}

.receitas {
    height: 4250px;
    width: 100%;
}

.conteudo-receitas {
    margin-top: 50px;
    height: 4200px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
}

.exercicios {
    height: 1050px;
    width: 100%;
}

.conteudo-exercicios {
    margin-top: 50px;
    height: 1000px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
}

.enviar {
    height: 550px;
    width: 100%;
}

.conteudo-enviar {
    margin-top: 50px;
    height: 500px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
}

.contato {
    height: 250px;
    width: 100%;
}

.conteudo-contato {
    margin-top: 50px;
    height: 200px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
}

nav {
    /* border-style: solid; */
    height: 50px;
    width: 100%;
    float: left;
    position: absolute;
    padding-left: 20%;;
    background-color: #20B2AA;
}

nav ul {
    margin: 0;
    padding-left: 0;
    padding-top: 1px;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    padding-top: 8px;
    font-size: 20pt;
    color: #000000;
    text-decoration: none;
    float: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-style: solid;
    border-color: #00FFFF;
    border-width: 20px;
    /* color: ; */
}

nav ul li a.ativo {
    border-bottom-style: solid;
    border-color: red;
    border-width: 20px;
    color: red;
}

nav ul a:hover:not(.ativo) {
    color: #ffffff;
    background-color: #87CEEB;
    border-bottom-style: solid;
    border-color: #FF00FF;
    border-width: 20px;
    color: #FF00FF;
}

h1 {
    margin-top: 30px;
  /* margin-bottom: 10px; */
}

.for {
    margin-top: 50px;
}

.conteudo {
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

.intro {
    border: solid;
}

#livro {
    padding-top: 100px;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 0;
    width: 100%;
    height: 230px;
    position: absolute;
    align-items: center;
    text-align: center;
    line-height: 100px;
}

footer img {
    width: 60px;
    height: 60px;
}

.rodape {
    padding-top: 20px;
}

@media screen and (max-width: 900px) {
    nav {
        height: 50px;
        width: 100%;
        float: left;
        position: absolute;
        padding-left: 10%;
        background-color: #20B2AA;
    }

    nav ul {
        margin: 0;
        padding-left: 0;
        padding-top: 1px;
        height: 100%;
        width: 100%;
        list-style-type: none;
    }

    nav ul li a {
        display: inline-block;
        padding-top: 8px;
        font-size: 20pt;
        color: #000000;
        text-decoration: none;
        /* float: left; */
        position: relative;
        padding-left: 13px;
        padding-right: 20px;
        border-bottom-style: solid;
        border-color: #00FFFF;
        border-width: 15px;
        /* color: ; */
    }

    section {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
  nav {
      height: 50px;
      width: 100%;
      float: left;
      position: absolute;
      padding-left: 0%;
      background-color: #20B2AA;
  }
}
